html{
	height: 100%;
	margin: 0px;
}

body {
	height:100%;
	margin: 0px;
	background: #FDE9DF url("../imagem/fundo2.png") fixed;
	background-size: 30px;
	font: 16px Arial, Helvetica, sans-serif;
}

header#cabecalho{
	background-image: linear-gradient(to right, #D2691E, #CD853F);
	height:100%;
	margin-bottom: 0px;
}

#inicio {
	height: 16%;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

nav#botoes{
	float: right;
	padding-right: 20px;
	padding-top: 10px;
}

nav#botoes li{
	display: inline-block;
	background-image: linear-gradient(to right, #CD853F, #D2691E);
	padding: 10px;
	border-radius: 10px;
}
#menubar {
	margin-top: 0px;
	padding-top: 0px;
	z-index: 1;
	position: sticky;
	top:0;
}
menu#menu{
	padding: 0px;
	background-image: linear-gradient(to right, #D2691E, #CD853F);
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

menu#menu ul{
	padding-left: 0px;
	margin-top: 0px;
	text-align: center;
	margin-left: 0px;
}

menu#menu li{
	margin-top: 0px;
	text-align: center;
	font-weight: bold;
	display: inline-block;
	background-image: linear-gradient(to right, #CD853F, #D2691E);
	padding-bottom:1%;
	padding-top:1%;
	padding-left: 6.683%;
	padding-right: 6.682%;
}

a {
	text-decoration: none;
	color: #ffffff;
}

div#conteudo{
	height: 73%;
}

footer#rodape{
	height: 6%;
	margin-top: 0px;
	background-image: linear-gradient(to right, #D2691E, #CD853F);
	width: 100%;
	display: block;
	position: fixed;
	float: right;
}

#scroll {
	width: auto;
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.areaMeio{
	width: auto;
	height: 99%;
}

#conteudo2 {
	width: auto;
	height: auto;
	margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

#conteudo2 img {
	border: 5px solid black;
	border-radius: 20px;
	float: left;
}

.TextoLink {
	display: inline-block;
}
.l1 {
	background: #fff;
	border: 3px solid black;
	border-radius: 5px;
	margin-left: 20px;
	text-align: center;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
}

.p2 {
	border: 3px solid black;
	border-radius: 5px;
	background: #fff;
	margin-left: 20px;
	white-space: pre-line;
	text-align: center;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
}

.vak {
	color: #D07026;
	text-decoration: underline;
}



