html {
	height: 100%;
	margin: 0px;
}

body {
	height:100%;
	margin: 0px;
	background: #FDE9DF url("../imagem/fundo2.png") fixed;
	background-size: 30px;
	font: 16px Arial, Helvetica, sans-serif;
}

/*     
--------------------------------------------------------
				INICIO CABEÇALHO  
--------------------------------------------------------
*/

#inicio {
	height: 16%;
	margin-bottom: 0px;
	padding-bottom: 0px;
	display: block;
}

#cabecalho {
	background: linear-gradient(to right, #D2691E, #CD853F);
	height:100%;
	margin-bottom: 0px;
}

.botoes {
	float: right;
	padding-right: 20px;
	padding-top: 10px;
}

.botoes li {
	display: inline-block;
	background-image: linear-gradient(to right, #CD853F, #D2691E);
	padding: 10px;
	border-radius: 10px;
}

/*     
--------------------------------------------------------
				FIM CABEÇALHO  
--------------------------------------------------------
*/



/* FORMATAÇÃO DOS LINKS */
a {
	text-decoration: none;
	color: #ffffff;
}
/* FORMATAÇÃO DOS LINKS */



/*     
--------------------------------------------------------
				INICIO MENU BAR   
--------------------------------------------------------
*/

#tudo{
	position: sticky;
	top:0;
	z-index: 1;
}

#menubar {
	margin-top: 0px;
	padding-top: 0px;
}

#menu{
	padding: 0px;
	background-image: linear-gradient(to right, #D2691E, #CD853F);
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#menu li{
	margin-top: 0px;
	text-align: center;
	font-weight: bold;
	display: inline-block;
	background-image: linear-gradient(to right, #CD853F, #D2691E);
	padding-bottom:1%;
	padding-top:1%;
	padding-left: 6.683%;
	padding-right: 6.682%;
}

#menu ul{
	padding-left: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	text-align: center;
	margin-left: 0px;
}

/*     
--------------------------------------------------------
				FIM MENU BAR   
--------------------------------------------------------
*/


/*     
--------------------------------------------------------
				INICIO AREA MEIO  
--------------------------------------------------------
*/

#tudoAreaMeio {
	display: block;
}

#areaMeio {
	width: 99.8%;
	height: auto;
	position: absolute;
	display: block;
}

#conteudoDoMeio {
	display: inline-block;
	width: 47%;
	height: 57%;
	margin-top: 5px;
	margin-bottom: 15px;
	margin-left: 35px;
}

#conteudoDoMeio img {
	width: 15%;
	border: 5px solid black;
	border-radius: 5px;
	background: #fff;
	display: block;
	margin-left: 260px;
}

.paragrafo {
	display: inline-block;
	border: 3px solid black;
	border-radius: 5px;
	background: #fff;
	white-space: pre-line;
	text-align: center;
	padding-left: 5px;
	padding-bottom: 15px;
	padding-right: 5px;
	margin-top: 3px;
}

.link {
	background: #fff;
	border: 3px solid black;
	border-radius: 5px;
	text-align: center;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	display: block;
	margin-top: 5px;
}

.vak {
	color: #D07026;
	text-decoration: underline;
}

/*     
--------------------------------------------------------
				FIM AREA MEIO  
--------------------------------------------------------
*/