html{
	height: 100%;
	margin: 0px;
}

body {
	height:100%;
	margin: 0px;
	background: #FDE9DF url("../imagem/fundo2.png") fixed;
	background-size: 30px;
	font: 16px Arial, Helvetica, sans-serif;
}

header#cabecalho{
	background-image: linear-gradient(to right, #D2691E, #CD853F);
	height:16%;
	margin-bottom: 0px;
}

nav#botoes{
	float: right;
	padding-right: 20px;
	padding-top: 10px;
}

nav#botoes li{
	display: inline-block;
	background-image: linear-gradient(to right, #CD853F, #D2691E);
	padding: 10px;
	border-radius: 10px;
}

menu#menu{
	background-image: linear-gradient(to right, #D2691E, #CD853F);
	margin-top: 0px;
	margin-bottom: 0px;
}

menu#menu ul{
	text-align: left;
}

menu#menu li{
	text-align: left;
	font-weight: bold;
	display: inline-block;
	background-image: linear-gradient(to right, #CD853F, #D2691E);
	padding-bottom:1%;
	padding-top:1%;
	padding-left: 6.683%;
	padding-right: 6.682%;
}

a {
	text-decoration: none;
	color: #ffffff;
}

div#conteudo{
	height: 73%;
}

footer#rodape{
	height: 6%;
	margin-top: 0px;
	background-image: linear-gradient(to right, #D2691E, #CD853F);
	width: 100%;
	display: block;
	position: fixed;
	float: right;
}

#scroll {
	width: auto;
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}