html {
	height: 100%;
	margin: 0;
}

body {
	height: 100%;
	margin: 0;
	background: rgba(210, 105, 30, 1);
	background-size: 30px;
	font: 16px Arial, Helvetica, sans-serif;
}

/*     
--------------------------------------------------------
				INICIO CABEÇALHO  
--------------------------------------------------------
*/

#inicio {
	height: 16%;
	margin-bottom: 0px;
	padding-bottom: 0px;
	display: block;
}
#cabecalho {
	background-image: linear-gradient(to right, #D2691E, #CD853F);
	height: 100%;
	margin-bottom: 0px;
}

.botoes {
	float: right;
	padding-right: 20px;
	padding-top: 10px;
}

.botoes li {
	display: inline-block;
	background-image: linear-gradient(to right, #CD853F, #D2691E);
	padding: 10px;
	border-radius: 10px;
}

/*     
--------------------------------------------------------
				FIM CABEÇALHO  
--------------------------------------------------------
*/



/* FORMATAÇÃO DOS LINKS */
a {
	text-decoration: none;
	color: #ffffff;
}
/* FORMATAÇÃO DOS LINKS */



/*     
--------------------------------------------------------
				INICIO MENU BAR   
--------------------------------------------------------
*/

#tudo{
	display: block;
	width: auto;
	height: auto;
	position: sticky;
	top:0;
}

#menubar {
	margin-top: 0px;
	padding-top: 0px;
}

#menu{
	padding: 0px;
	background-image: linear-gradient(to right, #D2691E, #CD853F);
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#menu li{
	margin-top: 0px;
	text-align: center;
	font-weight: bold;
	display: inline-block;
	background-image: linear-gradient(to right, #CD853F, #D2691E);
	padding-bottom:1%;
	padding-top:1%;
	padding-left: 6.683%;
	padding-right: 6.682%;
}

#menu ul{
	padding-left: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	text-align: center;
	margin-left: 0px;
}

/*     
--------------------------------------------------------
				FIM MENU BAR   
--------------------------------------------------------
*/

/*     
--------------------------------------------------------
				INICIO FORM JURIDICO   
--------------------------------------------------------
*/

p{
	margin-top: 15px;
	font-weight: bold;
}

.info{
	width:98.2%;
	border: 2px solid black;
	padding: 10px;
	background-color: rgba(0,0,0,.1);
}
.formulario input{
	border-radius: 30px;
	border: 2px solid black;

}
.formulario div{
	margin: 0;
	display: inline-block;
	font-weight: bold;
}

div#camponomefantasia{
	width: 30%;
}

#nome {
	padding: 10px;
}

div#campoemailjuridico{
	width: 30%;
}

#email {
	padding: 10px;
}

div#camposenhajuridico{
	width: 39%;
}

#senha {
	padding: 10px;
}

div#campocnpj{
	width: 33%;
}

#cnpj {
	padding: 10px;
}

div#botaodocjuridico {
	margin-top: 15px;
	margin-left: 80px;
}

.btCadastro {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}

/*     
--------------------------------------------------------
				FIM FORM JURIDICO   
--------------------------------------------------------
*/